@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;
}

img {
    width: 100%;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*NAVBAR*/

@media (min-width: 992px) {
    .navbar-nav-centered {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
  }  
  .navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: #3e3e3e;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
  
  .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: #3e3e3e;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
  
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }

  .navbar-nav {
    justify-content: center;
    align-items: left;
  }
  .btn-pink-purple {
    background: linear-gradient(to right, #ff69b4, #800080);
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: auto;
    border-radius: 20px;
  }
  
  .btn-pink-purple:hover {
    box-shadow: none;
  }

/* HERO section */

.hero-section {
    position: relative;
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black overlay */
    z-index: 1; /* Move the overlay above the background image */
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2; /* Move the content above the overlay */
  }
  
  .hero-section h1 {
    background: linear-gradient(to right, #ff6ac1, #a531f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 24px; /* Adjust the font size as needed */
    color: #fff;
    margin-bottom: 40px; /* Add some spacing */
  }


  .hero-section .btn {
    color: #fff; /* Set text color to white */
  }

  .btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 0;
  }
  
  .btn-brand {
    background: linear-gradient(to right, #ff6ac1, #a531f9);
    color: #fff;
  }
  
  .btn-brand:hover {
    background: linear-gradient(to right, #ff6ac1, #a531f9);
    color: #fff;
  }
  

/* Results Section */
.results-section {
  padding: 50px 0;
  text-align: center;
}

.results-section h2 {
  font-size: 54px; /* Increase the font size */
  font-weight: bold; /* Set the font weight to bold */
  margin-bottom: 30px;
  color: #000000;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.result-box {
  flex: 1 0 300px;
  background-color: #101014; /* Set the background color to black */
  color: #ffffff; /* Set the text color to white */
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  min-width: 390px;
  padding: 20px;

}

.percentage {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.percentage-text {
  display: block;
  position: relative;
  font-size: inherit;
  background: linear-gradient(90deg, #FF00A6, #5A00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.description {
  font-size: 22px;
}

.highlight-gradient {
  background: linear-gradient(90deg, #FF00A6, #5A00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* TESTIMONIALS */
.home-testimonial {
  position: relative;
  background-color: #101014;
  padding-bottom: 100px;
  color: white;
}

.home-testimonial-bottom {
  background-color: #f8f8f8;
  margin-top: 10px;
  height: 190px;
  position: relative;
  z-index: 1;
}

.home-testimonial h3 {
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.home-testimonial h2 {
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.testimonial-inner {
  position: relative;
  top: -164px;
}

.testimonial-pos {
  position: relative;
  top: 24px;
}

.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 50px;
}

.color-grey-3 {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
}

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}

.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
}

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.footerlogo img {
  width: 300px; /* Adjust as needed */
}

.contact-info {
  margin-left: 10px; /* Adjust as needed */
}

.social-media img {
  width: 20px; /* Adjust as needed */
  margin-right: 5px; /* Adjust as needed */
}

.social-media img:last-child {
  margin-right: 0;
}

.social-media a {
  display: inline-block;
}

.social-media a:hover img {
  opacity: 0.7;
}

p {
  margin: 5px 0;
}

h4 {
  margin-bottom: 10px;
}

.footer-container .copyright {
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 5px 0;
}
