@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;
}

img {
    width: 100%;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*NAVBAR*/

@media (min-width: 992px) {
    .navbar-nav-centered {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
  }  
  .navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: #3e3e3e;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
  
  .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: #3e3e3e;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
  
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }

  .navbar-nav {
    justify-content: center;
    align-items: left;
  }
  .btn-pink-purple {
    background: linear-gradient(to right, #ff69b4, #800080);
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: auto;
    border-radius: 20px;
  }
  
  .btn-pink-purple:hover {
    box-shadow: none;
  }

/* HERO section */

.hero-section {
    position: relative;
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black overlay */
    z-index: 1; /* Move the overlay above the background image */
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2; /* Move the content above the overlay */
  }
  
  .hero-section h1 {
    background: linear-gradient(to right, #ff6ac1, #a531f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
  }

  .hero-section p {
    font-size: 24px; /* Adjust the font size as needed */
    color: #fff;
    margin-bottom: 40px; /* Add some spacing */
  }


  .hero-section .btn {
    color: #fff; /* Set text color to white */
  }

  .btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 0;
  }
  
  .btn-brand {
    background: linear-gradient(to right, #ff6ac1, #a531f9);
    color: #fff;
  }
  
  .btn-brand:hover {
    background: linear-gradient(to right, #ff6ac1, #a531f9);
    color: #fff;
  }
  